extends layout

block content
  h1= title
  - rows = Number(query.rows)
  - cols = Number(query.cols)
  p rows #{rows}
  p cols #{cols}
  - if(rows>10){
      p Number of rows should not exceed 10
  -}
  - else if(cols>10){
      p   Number of cols should not exceed 10
  -}
  - else{
      table#outer
        - for(let i=0; i<rows; i++) {
            tr#middle
              - for(let j=0; j<cols; j++) {
                 td= i+1+(j*rows)
              -}
        -}
  -}

